<div class="modal fade" id="mes_endProduct_outputTransaction" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-lg">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Products-->
			<div class="card card-flush">
				<!--begin::Card header-->
				<div class="card-header align-items-center py-5 gap-2 gap-md-5">
					<!--begin::Card title-->
					<div class="card-title">
						<!--begin::Search-->
						<div class="d-flex align-items-center position-relative my-1">
							<i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
							<input type="text" mes-output-product-transaction-table-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Giriş Hareketi Ara" />
						</div>
						<!--end::Search-->
					</div>
					<!--end::Card title-->
					<!--begin::Card toolbar-->
					<div class="card-toolbar flex-row-fluid justify-content-end gap-5">

						<div class="w-100 mw-150px">
						</div>

					</div>
					<!--end::Card toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0">
					<!--begin::Table-->
					<table class="table align-middle table-row-dashed fs-6 gy-5" id="mes_output_transaction_table">
						<thead>
							<tr class="text-start fw-bold fs-7 text-uppercase gs-0">
								<th class="w-10px pe-2">
									<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
										<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#mes_output_transaction_table .form-check-input" value="1" />
									</div>
								</th>
								<th class="min-w-125px">TARİH </th>
								<th class="min-w-125px">FİŞ NUMARASI</th>
								<th class="min-w-125px">FİŞ TÜRÜ</th>
								<th class="min-w-125px">Ambar</th>
								<th class="min-w-125px">İşlemler</th>
							</tr>
						</thead>
						<tbody class="fw-semibold text-gray-600">
						</tbody>
					</table>
					<!--end::Table-->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Products-->
		</div>
	</div>
</div>
