<div class="modal fade" id="mes_rawProduct_warehouseTotal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-lg">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Products-->
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
                            <input type="text" mes-output-product-transaction-table-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Giriş Hareketi Ara" />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">

                        <div class="w-100 mw-150px">
                        </div>

                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <!--begin::Table-->
                    <table class="table align-middle gs-0 gy-4 my-0" id="mes_warehouse_total_table">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fs-7 fw-bold text-gray-500">
                                <th class="text-start min-w-140px pt-3">AMBAR</th>
                                <th class="text-start min-w-140px pt-3">STOK</th>
                                <th class="text-start min-w-140px pt-3">AZAMİ</th>
                                <th class="text-start min-w-140px pt-3">ASGARİ</th>
                                <th class="pe-0 text-start min-w-120px pt-3">GÜVENLİ</th>

                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Products-->
        </div>
    </div>
</div>
